.mw-cite-backlink,
.cite-accessibility-label {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Make sure the brackets and the numbers aren't jumbled after LTR words in RTL wikis */
sup.reference {
	/* Ideally unicode-bidi: isolate should be used here,
	   however due Firefox bug https://bugzilla.mozilla.org/1185987
	   we use inline-block to replicate the effect */
	display: inline-block;
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
sup.reference:target {
	background-color: #def; /* fallback */
	background-color: rgba(0, 127, 255, 0.133);
}
