/* Kannada (These styles favor wikipedia usage. Other projects may need overrides if they care.) */

/* <ref>s with a group */
.mw-ref a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, kannada ) ']';
}

/* <ref>s without a group */
.mw-ref a:after {
	content: '[' counter( mw-Ref, kannada ) ']';
}

[ rel='mw:referencedBy' ] {
	counter-reset: mw-ref-linkback -1;
}

ol.mw-references {
	counter-reset: mw-references list-item 0;
}

ol.mw-references > li {
	counter-increment: mw-references;
}

/* Linkbacks from <references> to <ref>s */
span[ rel='mw:referencedBy' ] a:before {
	content: counter( mw-references, kannada ) '.' counter( mw-ref-linkback, kannada );
	/* knwiki:Common.css has a font-size:80% rule
	* for sub & sup and this is the equivalent selector
	* for that in Parsoid */
	font-size: 80%;
}
