/* CSS for Parsoid Cite extension */

.mw-ref-follow {
	display: none;
}

/* Upstream bug in stylelint makes it complain aboout the case of 'mw-Ref' */
/* stylelint-disable value-keyword-case */

/* With a group set */
.mw-ref a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, decimal ) ']';
}

/* Groups with special appearance */
.mw-ref a[ data-mw-group='decimal' ]:after {
	content: '[' counter( mw-Ref, decimal ) ']';
}

.mw-ref a[ data-mw-group='lower-alpha' ]:after {
	content: '[' counter( mw-Ref, lower-alpha ) ']';
}

.mw-ref a[ data-mw-group='upper-alpha' ]:after {
	content: '[' counter( mw-Ref, upper-alpha ) ']';
}

.mw-ref a[ data-mw-group='lower-greek' ]:after {
	content: '[' counter( mw-Ref, lower-greek ) ']';
}

.mw-ref a[ data-mw-group='lower-roman' ]:after {
	content: '[' counter( mw-Ref, lower-roman ) ']';
}

.mw-ref a[ data-mw-group='upper-roman' ]:after {
	content: '[' counter( mw-Ref, upper-roman ) ']';
}

.mw-ref a[ data-mw-group='error-test' ]:after {
	content: '[' counter( mw-Ref, symbols( cyclic 'first' 'second' 'last!' ) ) ']';
}

/* Without a group */
.mw-ref a:after {
	content: '[' counter( mw-Ref, decimal ) ']';
}

/* Hide the default rendering in browsers that support content
 * generation by selecting for :after pseudo-element. */
/* stylelint-disable-next-line selector-type-no-unknown */
x-thereisnoelementwiththisname:after,
span.mw-reflink-text {
	display: none;
}

/* Style for linkbacks from <references> to <ref>s */
ol.mw-references {
	/* Resetting *any* counter on an <ol> element messes up the built-in numbering in Firefox.
	   Explicitly resetting the built-in "list-item" counter fixes this. */
	counter-reset: mw-references list-item 0;
}

ol.mw-references > li {
	counter-increment: mw-references;
}

ol[ data-mw-group='lower-alpha' ].mw-references > li {
	list-style-type: lower-alpha;
}

ol[ data-mw-group='upper-alpha' ].mw-references > li {
	list-style-type: upper-alpha;
}

[ rel~='mw:referencedBy' ]:before {
	content: '↑ ';
}

span[ rel~='mw:referencedBy' ] {
	counter-reset: mw-ref-linkback 0;
}

span[ rel~='mw:referencedBy' ] a:before {
	counter-increment: mw-ref-linkback;
	content: counter( mw-references, decimal ) '.' counter( mw-ref-linkback, decimal );
	line-height: 1;
	vertical-align: super; /* <sup> use in Cite */
	font-size: smaller; /* <sup> use in Cite */
}

span[ rel~='mw:referencedBy' ] a:after {
	content: ' '; /* default separator outside <sup> */
	line-height: 1;
}

span[ rel~='mw:referencedBy' ] a:last-child:after {
	content: '';
}

/* Hide the default rendering in browsers that support content
 * generation by selecting for :after pseudo-element. */
/* stylelint-disable-next-line selector-type-no-unknown */
x-thereisnoelementwiththisname[ rel='mw:referencedBy' ]:before,
span.mw-linkback-text {
	display: none;
}

/* Previously, MediaWiki styled the warning class.
 * It no longer does this, so style cite warnings through mw-ext-cite-warning. */
.mw-ext-cite-warning {
	font-size: larger;
	color: #ac6600;
}
