.mw-cite-backlink,
.cite-accessibility-label {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Make sure the brackets and the numbers aren't jumbled after LTR words in RTL wikis */
sup.reference {
	unicode-bidi: embed;
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
sup.reference:target {
	background-color: #def; /* fallback */
	background-color: rgba(0, 127, 255, 0.133);
}
