/* French (These styles favor wikipedia usage. Other projects may need overrides if they care.) */

/* <ref>s with a group */
.mw-ref a[ data-mw-group ]:after {
	content: attr( data-mw-group ) ' ' counter( mw-Ref, decimal );
}

/* <ref>s without a group */
.mw-ref a:after {
	content: counter( mw-Ref, decimal );
}

/* Linkbacks from <references> to <ref>s */
/* Because of the <sup> in the Cite_reference_link_many message */
span[ rel='mw:referencedBy' ] a:after {
	font-size: smaller;
}

span[ rel='mw:referencedBy' ] a:nth-last-child( 2 ):after {
	content: ' et ';
	vertical-align: super;
}
