/* @noflip */
.mw-cite-dir-ltr {
	direction: ltr;
	text-align: left;
}

/* @noflip */
.mw-cite-dir-rtl {
	direction: rtl;
	text-align: right;
}

.mw-ref > a[ style~='mw-Ref' ]::after {
	content: '[' counter( mw-Ref, arabic-indic ) ']';
}

.mw-ref > a[ style~='mw-Ref' ][ data-mw-group ]::after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, arabic-indic ) ']';
}

span[ rel='mw:referencedBy' ] > a::before {
	content: counter( mw-references, arabic-indic ) 'Ù«' counter( mw-ref-linkback, arabic-indic );
}
